.button {
  color: $blue-button;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: $grey-bg;
  &:hover {
    color: $blue-button-hover;
  }
}

img.avatar {
  margin: 0;
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  border: 3px solid $grey-status-font;
}