.button {
  color: $blue-button;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: $grey-bg;
  &:hover {
    color: $blue-button-hover;
  }
}