@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$font: 14px/22px 'Lato', Arial, sans-serif;

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

$blue-bg: #C5DDEB;
$blue-button: #94C2ED;
$blue-button-hover: #75b1e8;
$black-bg: #444753;
$grey-bg: #F2F5F8;
$grey-font: #6A6C75;
$grey-status-font: #92959E;
$green-status-online: #86BB71;
$green-status-offline: #E38968;