.chat {
  display: flex;
  flex-direction: column;
  background: $grey-bg;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  .chat-header {
    flex: 1;
    border-bottom: 2px solid white;
    max-height: 100px;
  }
  .chat-message {
    flex: 1;
    max-height: 185px;
  }
  .chat-history {
    flex: 4;
    border-bottom: 2px solid white;
  }
}