.contact {
  .contact-info {
    padding-left: 8px;
    margin-top: 8px;
    span {
      display: block;
      &.status {
        color: $grey-status-font;
        i {
          margin-right: 3px;
          font-size: 10px;
          &.online {
            color: $green-status-online;
          }
        }
      }
    }
  }
}